* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        135deg,
        rgba(0, 0, 0.5, 1),
        rgba(255, 71, 87,0.5)
      ),url("bubble.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-bottom: 5rem;
}

/*navbar*/
.nav-head {
    cursor: text;
    color: rgb(55, 66, 250);
    font-size: 1.3rem;
    margin-right: 2.5rem;
}

.nav-head,a {
    text-decoration: none;
}
/*wrapper*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    
}

#container {
    border-style: hidden;
    width: 45rem;
    height: 70vh;
}

#tint-background {
    background-color: rgba(0, 0, 0, 0.6);
}

.title {
    text-align: center;
    margin: 5rem 0 2rem 0;
}

.info-text1 {
    padding: 3rem 3rem 0 3rem;
    font-family: 'Montserrat', sans-serif;
}

.info-text {
    padding: 0.5rem 3rem 0 3rem;
    font-family: 'Montserrat', sans-serif;
}

.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: #dfe4ea;
}

input[type=email],input[type=tel] {
    padding-left: 0.5rem;
    outline: none;
}

form {
    border-style: hidden;
    border-width: 7px;
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    background: radial-gradient( ellipse at  60% 60%, rgba(0,0,0,0.2) 20%, rgb(0, 0,0,0.7) 80%);
    text-align: center;
    margin: 5rem 0 3rem 0;
}

.form-title {
    margin: 3.5rem 0 1.5rem 0;

}

.email {
    width: 17rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    border-style: none;
    border-bottom-style: solid;
    border-color: #ff6b81;
    border-width: 0.5px;
    background-color: transparent;
    transition: 0.7s;
    color: #ffffff;
}

.email:hover {
    background-color: #ff6b81;
    color: black;
    transition: 0.7s;
}

#country-code {
   width: 17rem;
   height: 2rem;
   text-align: center;
    border-style: none;
    background-color: black;
    color: #ffffff;
    
}

.number-input {
    width: 17rem;
    height: 2.5rem;
    margin-bottom: 1rem;
    border-style: none;
    background-color: transparent;
    border-bottom-style: solid;
    border-color: #ff6b81;
    border-width: 0.3px;
    transition: 0.7s;
    color: #ffffff;
}

.number-input:hover {
    background-color: #ff6b81;
    color: black;
    transition: 0.7s;
}

.send-button {
    width: 17rem;
    height: 2.5rem;
    margin-bottom: 3rem;
    border-style: none;
    background-color: black;
    color: #ff6b81;
    transition: 0.7s;
}

.send-button:hover {
    background-color: rgb(255, 71, 87);
    color: black;
    transition: 0.7s;
}




